.navbar-brand{height: auto; padding: 5px;}
.navbar-nav > li > a{line-height: 30px;}
#contact-form{background-image: url('http://ashleypfeil.com/wp-content/uploads/2016/07/contact.png'); background-size: cover; background-repeat: no-repeat; color: #fff;}
#contact-form h2{text-align: center; opacity: 1;}
input[type="submit"]{color: #333; background-color: #fff; border-radius: 0px; padding: 10px;}
.contactFormFormBG{padding: 30px; background-color: rgba(102, 45, 145, 0.7); border-radius: 15px;}
#boost-income{border-bottom: 1px solid #333;}
#project-features{background-color: #333; color: #fff;}
#project-features img{height: auto;}
.projectsTitle{display: none;}
.box{position: relative;}
.overlay{background:rgba(0,0,0,.75); text-align:center; opacity:0; -webkit-transition: opacity .25s ease; -moz-transition: opacity .25s ease; z-index: 2; position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; height: 100%;}
.box:hover .overlay{opacity:1;}
a.learnMore{background: #00AEEF; padding: 10px; color: #fff; border: 1px solid #00AEEF;}
a.learnMore:hover{background: #fff; color: #00AEEF; border: 1px solid #00AEEF;}
.overlayText{transform: translateY(30%);}
.title{margin-bottom: 30px; color: #fff;}
.title:hover {color: #00AEEF;}
.entry-content{min-height: 425px;}
.pageHeadings{margin-top: 0px; text-align: center;}
.imgGallery{text-align: center; padding: 40px 40px 0px 40px; background: #333; border: 5px solid #000; border-radius: 15px;}
.bwg_standart_thumb_spun1_0{border: 2px inset #ccc;}
#spider_popup_overlay_0{background: #00aeef; background: -moz-linear-gradient(45deg,  #00aeef 0%, #662d91 100%); background: -webkit-linear-gradient(45deg,  #00aeef 0%,#662d91 100%); background: linear-gradient(45deg,  #00aeef 0%,#662d91 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#662d91',GradientType=1 ); }
.suppa_menu_1{margin-left: 70% !important;}
.list-unstyled{list-style-type: none;}
.list-inline{list-style-type: none;}
#menu-footer-menu li{list-style-type: none;}
#menu-footer-menu .sub-menu{margin: 0px; padding: 0px;}
.bwg_image_info{margin: 0px 40px 15px 15px !important; width: auto !important;}
.siteLinkButton{padding: 15px; background: #81B4EF; border-radius: 15px; display: inline-block; margin-top: 10px;}
a.siteLinkButton{color: #fff;}
.siteLinkButton:hover{background: #7A2D91;}


/* ==== MEDIA QUERIES ==== */
@media screen and (max-width : 1199px){
.overlayText{transform:translateY(150%);}
}
@media screen and (max-width : 991px) {
#instructor .container {background: rgba(255,255,255,0.8);padding: 20px;}
.imgGallery{width: 100%; margin-bottom: 5%;}
}
@media screen and (max-width : 782px){
.logged-in .navbar-fixed-top{top: 46px;}
}
@media screen and (max-width : 768px) {
.logo {width: 50%;}
#optin p {margin: 0 0 10px;}
#featurette iframe {height: 240px;}
.resource {width: 48%;margin-right: 2%;}
}
@media screen and (max-width : 680px){
.overlayText{transform:translateY(130%);}
}
